.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 48px;
}

@media (min-width: 1px) {
  /* smartphones, Android phones, landscape iPhone */
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
