.img-container {
  width: 100%;  
  margin-top: 32px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.img-information{
  text-align: center;
}

.img-information p:first{
  font-size: 24px;
}

.img-information p:last-child{
  font-size: 12px;
  color: grey;
}

@media (min-width: 1px) {
  /* smartphones, Android phones, landscape iPhone */
  .img-container {
    height: 300px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .img-container {
    height: 500px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .img-container {
    height: 600px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .img-container {
    height: 650px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .img-container {
    height: 700px;
  }
}
