.CardPhoto {
  width: 100%;
  margin: 0 auto;
  background-color: #1b1b1b;
  border-radius: 4px;
  margin-top: 24px;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.CardPhoto img {
  max-width: 100%;
  border-radius: 4px;
  height: auto;
}

.CardPhoto .img {
  text-align: center;
}

@media (min-width: 1px) {
  .CardPhoto {
    display: block;
    padding: 16px;
  }
}

@media (min-width: 1025px) {
  .CardPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 32px;
  }
}
@media (min-width: 1281px) {
  .CardPhoto {
    grid-template-columns: 1fr 2fr;
  }
}
